body{
    font-family: Arial, Helvetica, sans-serif;
}
.teclado--botao{
    color: #FFF;
    font-size: 25px;   
}
.botao--branco, .botao--corrige, .botao--confirma{
    color: #000;
    font-size: 15px;
}

.d-2{
    font-size: 14px;
}
.numero{
    font-size: 25px;
}
.d-1-4{
    line-height: 30px;
}

.d-1-img{
    font-size: 14px;
}
.d-1-img.pequeno{
    font-size: 12px;
}